---
layout: default
title: Ship Your Enemies Coronavirus
description: The perfectly viral gift for that special someone in your life
---

<div class="dark-wrapper">
    <!-- Landing page Hero -->
    <section class="hero is-fullheight is-transparent">
        <div class="hero-head">

            <!-- Cloned navbar -->
            {{% navbar-clone %}}

            <!-- Static navbar -->
            {{% navbar %}}

        </div>

        <!-- Animated particles -->
        <div id="particles-js"></div>

        <!-- Hero Image and Title -->
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">

                    <!-- Landing page Title -->
                    <div class="column is-5 landing-caption">
                        <h1 class="title is-1 is-light is-semibold is-spaced main-title">Ship Your Enemies Coronavirus</h1>
                        <h1 class="subtitle is-6 is-light is-thin">
                            The perfectly viral gift for that special someone in your life.
                        </h1>
                        <!-- CTA -->
                        <p>
                            <a href="#start" class="button k-button k-primary raised has-gradient is-fat is-bold">
                                <span class="text">Ship Now</span>
                                <span class="front-gradient"></span>
                            </a>
                        </p>

                    </div>
                    <!-- Hero image -->
                    <div class="column is-7">
                        <figure class="image">
                            <img src="/images/illustrations/hero.svg" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Landing page Hero -->
    <!-- Icon Features section -->
    <section id="start" class="section is-transparent is-relative">
        <!-- Container -->
        <div class="container">

            <div class="has-text-centered">
                <a class="button k-button k-secondary raised has-gradient is-fat is-bold rounded">
                    <span class="text">Ship Now</span>
                    <span class="front-gradient"></span>
                </a>
            </div>

            <!-- Content wrapper -->
            <div class="content-wrapper is-medium">
                <div class="columns is-vcentered">
                    <!-- Feature -->
                    <div class="column is-4">
                        <div class="feature">
                            <img src="/images/icons/chained.svg" alt="" data-aos="fade-up" data-aos-delay="100" data-aos-offset="200" data-aos-easing="ease-out-quart">
                            <h4 class="title is-6 is-tight is-light">Harvesting</h4>
                            <p>Your COVID-19 sample will be harvested from the nasal cavity of our fresh supply of infected old people.</p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="column is-4">
                        <div class="feature">
                            <img src="/images/icons/chained.svg" alt="" data-aos="fade-up" data-aos-delay="300" data-aos-offset="200" data-aos-easing="ease-out-quart">
                            <h4 class="title is-6 is-tight is-light">Packing</h4>
                            <p>The sample is secured in a spring-actuated aerosol can, ensuring a surprising 'sneeze' effect upon opening.</p>
                        </div>
                    </div>
                    <!-- Feature -->
                    <div class="column is-4">
                        <div class="feature">
                            <img src="/images/icons/compact.svg" alt="" data-aos="fade-up" data-aos-delay="500" data-aos-offset="200" data-aos-easing="ease-out-quart">
                            <h4 class="title is-6 is-tight is-light">Shipping</h4>
                            <p>The package will be shipped via priority mail directly to your enemy, where infection and incubation can occur in as little as two days!</p>
                        </div>
                    </div>
                </div>


            </div>
            <!-- Content wrapper -->
        </div>
        <!-- /Container -->
    </section>
    <!-- /Icon Features section -->
    <!-- Company section -->
    <section class="section is-medium has-big-dark-gradient">
        <!-- Container -->
        <div class="container">
            <!-- Divider -->
            <div class="divider is-centered"></div>
            <!-- Title & subtitle -->
            <h2 class="title is-light is-semibold has-text-centered is-spaced">Our Team</h2>
            <h4 class="subtitle is-6 is-light has-text-centered is-compact">Fueled by vitriolic hate and the tears of orphans, our team is committed to delivering a first rate viral experience to the important people in your life.</h4>

            <!-- Content wrapper -->
            <div class="content-wrapper is-large">
                <div class="columns is-vcentered">

                    <div class="column is-hidden-mobile"></div>

                    <!-- Team member -->
                    <div class="column is-3">
                        <div class="team-member-container">
                            <!-- Card -->
                            <div class="dark-card">
                                <!-- Avatar wrapper -->
                                <div class="avatar">
                                    <!-- Svg circle -->
                                    <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                        <!-- Track -->
                                        <circle class="circle-chart-background" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                        <!-- Stroke -->
                                        <circle class="circle-chart-circle" stroke-width="1" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                    </svg>
                                    <img class="is-sketch" src="/images/team/john.svg" alt="">
                                </div>
                                <!-- Member meta -->
                                <div class="member-info">
                                    <h4 class="title is-light is-6 is-tight">Charles Koch</h4>
                                    <div class="position">Chairman</div>
                                    <p class="description">Guiding the sidehustle of a few millenials as they supple on my teat of insidious wisdom.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Team member -->
                    <div class="column is-3">
                        <div class="team-member-container">
                            <div class="dark-card">
                                <div class="avatar">
                                    <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                        <circle class="circle-chart-background" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                        <circle class="circle-chart-circle" stroke-width="1" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                    </svg>
                                    <img class="is-sketch" src="/images/team/lucy.svg" alt="">
                                </div>
                                <div class="member-info">
                                    <h4 class="title is-light is-6 is-tight">Ariel</h4>
                                    <div class="position">Loud Upstairs Neighbor</div>
                                    <p class="description">I'm just doing this until I get a callback for the Off-Broadway Musical Stomp</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Team member -->
                    <div class="column is-3">
                        <div class="team-member-container">
                            <div class="dark-card">
                                <div class="avatar">
                                    <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                        <circle class="circle-chart-background" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                        <circle class="circle-chart-circle" stroke-width="1" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                    </svg>
                                    <img class="is-sketch" src="/images/team/joshua.svg" alt="">
                                </div>
                                <div class="member-info">
                                    <h4 class="title is-light is-6 is-tight">Bigfoot Believer Bob</h4>
                                    <div class="position">Generic Podcast Host</div>
                                    <p class="description">Forcing my neighbors into listening to my stream of consciousness is no longer enough.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-hidden-mobile"></div>
                </div>

                <div class="columns is-vcentered">

                    <div class="column is-hidden-mobile"></div>

                    <!-- Team member -->
                    <div class="column is-3">
                        <div class="team-member-container">
                            <div class="dark-card">
                                <div class="avatar">
                                    <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                        <circle class="circle-chart-background" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                        <circle class="circle-chart-circle" stroke-width="1" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                    </svg>
                                    <img class="is-sketch" src="/images/team/sara.svg" alt="">
                                </div>
                                <div class="member-info">
                                    <h4 class="title is-light is-6 is-tight">Karen the Conqueror</h4>
                                    <div class="position">VP of Managerial Dread</div>
                                    <p class="description">Elevating complaints into an art form.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Team member -->
                    <div class="column is-3">
                        <div class="team-member-container">
                            <div class="dark-card">
                                <div class="avatar">
                                    <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                        <circle class="circle-chart-background" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                        <circle class="circle-chart-circle" stroke-width="1" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                    </svg>
                                    <img class="is-sketch" src="/images/team/mike.svg" alt="">
                                </div>
                                <div class="member-info">
                                    <h4 class="title is-light is-6 is-tight">Person that created Jar Jar Binks</h4>
                                    <div class="position">Advisor</div>
                                    <p class="description">Bringing you the most memorable and baffling pranks with a touch of cinematic infamy.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Team member -->
                    <div class="column is-3">
                        <div class="team-member-container">
                            <div class="dark-card">
                                <div class="avatar">
                                    <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                        <circle class="circle-chart-background" stroke-width="1" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                        <circle class="circle-chart-circle" stroke-width="1" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                    </svg>
                                    <img class="is-sketch" src="/images/team/sandra.svg" alt="">
                                </div>
                                <div class="member-info">
                                    <h4 class="title is-light is-6 is-tight">Conspiracy Connie</h4>
                                    <div class="position">Director of Customer Dissatisfaction</div>
                                    <p class="description">Bringing the perfect mix of fun and chaos to every order.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-hidden-mobile"></div>

                </div>
            </div>
            <!-- /Content wrapper -->
        </div>
    </section>
    <!-- /Company section -->

    <!-- Contact section -->
    <section class="section is-medium is-darkest">
        <!-- Container -->
        <div class="container">
            <!-- Divider -->
            <div class="divider is-centered"></div>
            <!-- Title & subtitle -->
            <h2 class="title is-light is-semibold has-text-centered is-spaced">Order Now</h2>
            <h4 class="subtitle is-6 is-light has-text-centered is-compact">What are you waiting for? Your enemies are not going to infect themselves. Actually, maybe they will; this stuff is wildly contagious. Regardless, be the change you want to see in the world.</h4>

            <!-- Content wrapper -->
            <div class="content-wrapper is-medium">
                <div class="columns">
                    <div class="column is-6 is-offset-3">
                        <!-- Form -->
                        <form class="contact-form">
                            <!-- Submit -->
                            <div class="has-text-centered">
                                <button class="button is-button k-button k-primary raised has-gradient is-fat is-bold is-submit">
                                    <span class="text">Order Now</span>
                                    <span class="front-gradient"></span>
                                </button>
                            </div>
                        </form>
                        <!-- /Form -->
                    </div>
                </div>
                
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- Container -->
    </section>
    <!-- Contact section -->
</div>
