<!DOCTYPE html>
<html lang="en">
    <head>
        {{- partial "head.html" . -}}
    </head>
    <body>
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
        {{- partial "scripts.html" . -}}
    </body>
</html>
