@import 'bulma/bulma';

// Animate on scroll
@import 'aos/src/sass/aos';

// Modal video
@import 'modal-video/scss/modal-video.scss';

// Cryptofont
$cf-font-path: '/fonts/cryptofont';
@import 'cryptofont/sass/cryptofont';

// Slick carousel
$slick-font-path: "/fonts/slick/";
$slick-loader-path: "/fonts/slick/";
@import 'slick-carousel/slick/slick.scss';
@import 'slick-carousel/slick/slick-theme.scss';
