<footer class="krypton-footer">
    <div class="container">
        <!-- Logo -->
        <div class="footer-logo">
            <a href="#">
                <img class="rotating" src="/images/logo/krypton-gradient.svg" alt="">
                <div class="brand-name">Coronavirus</div>
                <div class="brand-subtitle">Spreading joy far and wide</div>
            </a>
        </div>

        <!-- Columns -->
        <div class="columns footer-columns is-vcentered">
            <div class="column is-4">
                <!-- Links group -->
                <ul class="footer-links">
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
            </div>
            <!-- Newsletter -->
            <div class="column is-4">
                <div class="subscribe-block">
                    <form>
                        <!-- Field -->
                        <div class="control">
                            <!-- Special input -->
                            <input class="krypton-subscribe-input" type="email" name="email" placeholder="">
                            <button class="subscribe-button">
                                <span>Get Notified</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Links group -->
            <div class="column is-4">
                <ul class="footer-links">
                    <li>
                        <a href="#">Disclaimer</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Copyright -->
        <p class="k-copyright">© {{ now.Year }} | Ship Your Enemies Coronavirus. All Rights Reserved</p>
        <br>
        <!-- Made by -->
        <p class="coded-by">Enabler: <a href="https://twitter.com/ryanmaynard00" target="_blank" rel="noreferrer">Ryan Maynard</a></p>
    </div>

    <!-- Absolute image -->
    <img class="solar-system" src="/images/bg/solar.svg" alt="">
</footer>
