<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="revision" content="{{ with .GitInfo }}{{ .AbbreviatedHash }}{{ end }}">

{{- /* SEO bits */ -}}
<title>{{ .Site.Title }} | {{ .Page.Title }}</title>
<meta property="og:title" content="{{ .Page.Title }}" />
<meta property="og:locale" content="en_US" />
{{- if ne .Page.Permalink "" -}}
<meta name="description" content="{{ .Page.Description }}">
<meta property="og:description" content="{{ .Page.Description }}">
<link rel="canonical" href="{{ .Page.Permalink | absURL }}" />
<meta property="og:url" content="{{ .Page.Permalink | absURL }}" />
{{- end -}}
{{- /* end SEO bits */ -}}

{{- if .Site.IsServer -}}
{{ $options := (dict "enableSourceMap" true "includePaths" (slice "node_modules")) }}
{{ $style := resources.Get "css/rona.scss" | toCSS $options }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{- else -}}
{{ $options := (dict "outputStyle" "compressed" "enableSourceMap" false "includePaths" (slice "node_modules")) }}
{{ $style := resources.Get "css/rona.scss" | toCSS $options | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{- end -}}
