{{/* Vendor bits */}}
{{ $scripts := getJSON "./assets/manifest.json" }}
{{ $.Scratch.Set "vendor_js" slice }}
{{ range $scripts.vendor }}
    {{ $.Scratch.Add "vendor_js" (resources.Get . ) }}
{{ end }}
{{ $vendor := .Scratch.Get "vendor_js" | resources.Concat "js/vendor.js" | minify | fingerprint }}
<script src="{{ $vendor.RelPermalink }}"></script>

{{/* Site bits */}}
{{ $scripts := getJSON "./assets/manifest.json" }}
{{ $.Scratch.Set "rona_js" slice }}
{{ range $scripts.rona }}
    {{ $.Scratch.Add "rona_js" (resources.Get . ) }}
{{ end }}
{{ $js := .Scratch.Get "rona_js" | resources.Concat "js/rona.js" | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}"></script>
