<!-- Static navbar -->
<nav class="navbar is-light">
    <div class="container">
        <!-- Brand -->
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                <img class="rotating" src="/images/logo/krypton.svg" alt="">
                <span class="brand-name">Coronavirus</span>
            </a>
            <!-- Responsive toggle -->
            <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <!-- Menu -->
        <div id="navbarMenu" class="navbar-menu light-menu">
            <div class="navbar-end">

                <!-- Menu item -->
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="#">About</a>
                </div>
                <!-- Menu item -->
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="#">How It Works</a>
                </div>
                <!-- Menu item -->
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="#">Our Team</a>
                </div>
                <!-- Sign up -->
                <div class="navbar-item">
                    <a href="#" class="button k-button k-primary raised has-gradient slanted">
                        <span class="text">Ship Now</span>
                        <span class="front-gradient"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- /Static navbar -->
